<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Games Together - <%=game.title%></title>
  </head>
  <body>
    <img src="/img/games/<%=game.slug%>.png" alt="" />
    <h2><%=game.title%></h2>
    <h4><%=game.price%></h4>
    <h5><%=game.quantity%></h5>
  </body>
</html>
