<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Games Together</title>
  </head>
  <body>
    <%games.forEach(game => {%>
    <div>
      <img src="/img/games/<%=game.slug%>.png" />
      <h2><%= game.title%> - <%= game.Plateform.name%></h2>
      <p><%= game.description%></p>
      <h4>
        Prix <%=(game.price*(game.discount/100)).toFixed(2)%> €
        -<%=game.discount%>%
      </h4>
    </div>
    <%});%>
  </body>
</html>
