<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/dist/style.css" rel="stylesheet" />
    <title>Mon panier</title>
  </head>
  <body>
    <!-- <div id="cart">
      <%session.Carts.forEach(jeu => {%>
      <div>
        <h2>
          <%=jeu.Game.title%>
          <button @click="removeProduct(<%=jeu.id%>)">
            Supprimer
          </button>
        </h2>
        <p>Quantité : <%=jeu.quantity%></p>
      </div>
      <%});%>
    </div> -->

    <div id="cart">
      <div class="home-logo">
        <img class="logo" src="/img/logo/togames-together.png" />
      </div>
  
      <nav class="navbar">
        <a href="/" class="nav">
          <p class="home">HOME</p>
        </a>
        <a href="/cart" class="nav">
          <p class="cart">SHOPPING CART</p>
        </a>
        <a href="/login" class="nav">
          <p class="login">LOGIN</p>
        </a>
        <a href="/register" class="nav">
          <p class="register">REGISTER</p>
        </a>
        <a href="/profile" class="nav">
          <p class="profile">PROFILE</p>
        </a>
        <!-- <input type="text" class="search" placeholder="Recherche"> -->
      </nav>

      
      <% let total = 0%>
      <div class="title-cart" style="text-align: center;">
        <h1>Mon panier <i class="fas fa-shopping-cart"></i></h1>
      </div>

      <div class="content">
        <table style="color: #D8FFFF">
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Plateforme</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
          </tr>
          <%session.Carts.forEach(jeu => {%>
          <tr>
            <img
            src="/img/games/<%=jeu.Game.slug%>.png"
            alt="<%=jeu.Game.slug%>"
          /><span><%=jeu.Game.title%></span>
          </td>
          <td>
            <% total +=
            parseFloat((jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)*jeu.quantity)%>
            <%=(jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)%>€
          </td>
          <td>
            <div>
              <img
                src="/img/plateforms/<%=jeu.Game.Plateform.slug%>_logo.png"
                alt=""
                class="plateformLogo"
              />
              <span><%=jeu.Game.Plateform.name%></span>
            </div>
          </td>
          <td><%=jeu.quantity%></td>
          <td>
            <%=(jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)*jeu.quantity%>€
          </td>
          <td>
            <i class="fas fa-times" @click="removeProduct(<%=jeu.id%>)">Supprimer</i>
          </td>
        </tr>
        <%});%>
        </table>

      </div>

      <div style="text-align: center;" id="total">
        <p style="color: #D8FFFF;">Total : <%=total.toFixed(2)%> €</p>
        <a id="buy" href="/checkout">
          <span style="color: #E14544; font-size: 30px;">Acheter</span><i class="fas fa-shopping-basket"></i>
        </a>
      </div>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
