<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link href="/css/dist/style.css" rel="stylesheet" />
    <title>To Games Together - <%=game.title%></title>
  </head>
  <body>
    <%game.quantity = game.CdKeys.length%>
    <div id="gamepage" class="container">
      <div class="home-logo">
        <img class="logo" src="/img/logo/togames-together.png" />
      </div>

      <nav class="navbar">
        <a href="/" class="nav">
          <p class="home">HOME</p>
        </a>
        <a href="/cart" class="nav">
          <p class="cart">SHOPPING CART</p>
        </a>
        <a href="/login" class="nav">
          <p class="login">LOGIN</p>
        </a>
        <a href="/register" class="nav">
          <p class="register">REGISTER</p>
        </a>
        <a href="/profile" class="nav">
          <p class="profile">PROFILE</p>
        </a>
        <!-- <input type="text" class="search" placeholder="Recherche"> -->
      </nav>

      <div class="content">
        <div id="game" data-id="<%=game.id%>" data-quantity="<%=game.quantity%>">
          <% let noteMax = 0; let nbAvis = 0; for (let avis of game.Marks){
          if(avis.mark > 0){ noteMax += avis.mark; nbAvis++; } } let moyenne =
          noteMax/(nbAvis || 1) %>
          <div class="info">
            <h2 class="title"><%=game.title%></h2>
            <img src="/img/games/<%=game.slug%>.png" alt="" />
            <div id="plateform">
              <img src="/img/plateforms/<%=game.Plateform.slug%>_logo.png" id="plateformLogo">
              <span><%=game.Plateform.name%></span>
            </div>
            <div class="price-discount">
              <h4 class="first-price"><%=game.price%></h4>
              <h5 class="discount">-<%=game.discount%>%</h5>
            </div>
            <h3 class="final-price">Prix : <%=(game.price-(game.price*(game.discount/100))).toFixed(2)%>€</h3>
            <h5 class="quantity"><%=game.quantity > 0 ? game.quantity+" jeux restants" : "Rupture de stock !"%></h5>
            <div class="addToCart <%=game.quantity < 1 ? "disabled" : ""%>" @click="buy">
              <i class="fas fa-cart-plus"></i><span>Ajouter au panier</span>
            </div>
            <h2 class="average">
              Avis moyens : <%=nbAvis > 0 ? moyenne+"/5 ("+nbAvis+" avis)":"Aucun "+
              "avis" %>
            </h2>
          </div>
          <div id="desc">
            <div class="description">
              <h2>Description</h2>
              <p><%=game.description%></p>
            </div>
          </div>
          <%if (game.Marks.length > 0) {%>
            <div id="marks">
              <h2><%=game.Marks.length%> Avis</h2>
              <%game.Marks.forEach(avis => {%>
                <div class="mark">
                  <h4><%=avis.User != null ? avis.User.username : "Ancien utilisateur"%> - 
                    <%for(let i = 0; i < avis.mark; i++) {%>
                      <i class="fas fa-star"></i>
                    <%} for (let i = 5; i > avis.mark; i--) {%>
                      <i class="far fa-star"></i>
                    <%}%>  
                  </h4>
                  <p><%=avis.review%></p>
                  <hr>
                </div>
              <%});%>
            </div>
          <%}%>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/game.js"></script>
  </body>
</html>
