<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/dist/cart.css" rel="stylesheet" />
    <title>Mon panier</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <div id="cart">
      <% let total = 0%>
      <h1>Mon <i class="fas fa-shopping-cart"></i> panier</h1>
      <div id="articles">
        <table>
          <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Plateforme</th>
            <th>Quantité</th>
            <th>Total</th>
            <th></th>
          </tr>
          <%session.Carts.forEach(jeu => {%>
          <tr>
            <td>
              <img
                src="/img/games/<%=jeu.Game.slug%>.jpg"
                alt="<%=jeu.Game.slug%>"
              /><span><%=jeu.Game.title%></span>
            </td>
            <td>
              <% total +=
              parseFloat((jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)*jeu.quantity)%>
              <%=(jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)%>€
            </td>
            <td>
              <div>
                <img
                  src="/img/plateforms/<%=jeu.Game.Plateform.slug%>_logo.png"
                  alt=""
                  class="plateformLogo"
                />
                <span><%=jeu.Game.Plateform.name%></span>
              </div>
            </td>
            <td><%=jeu.quantity%></td>
            <td>
              <%=(jeu.Game.price-(jeu.Game.price*(jeu.Game.discount/100))).toFixed(2)*jeu.quantity%>€
            </td>
            <td>
              <i class="fas fa-times" @click="removeProduct(<%=jeu.id%>)"></i>
            </td>
          </tr>
          <%});%>
        </table>
      </div>
      <div id="total">
        <p>Total : <%=total%> €</p>
        <a id="buy" href="/checkout">
          <span>Acheter</span><i class="fas fa-shopping-basket"></i>
        </a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/cart.js"></script>
  </body>
</html>
