<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/dist/game.css" rel="stylesheet" />
    <title>To Games Together - <%=game.title%></title>
  </head>
  <body>
    <%- include('header.ejs') %> 
    <video id="bgvid" playsinline autoplay muted loop>
      <source src="/img/background/background.mp4" type="video/mp4" />
    </video>
    <%game.quantity = game.CdKeys.length%>
    <% let noteMax = 0; let nbAvis = 0; for (let
    avis of game.Marks){ if(avis.mark > 0){ noteMax += avis.mark; nbAvis++; } }
    let moyenne = noteMax/(nbAvis || 1) %>
    <div id="game" data-id="<%=game.id%>" data-quantity="<%=game.quantity%>">
      <div>
        <img src="/img/games/<%=game.slug%>.jpg" alt="<%=game.slug%>" id="pochette"/>
      </div>
      <div id="info">
        <h2><%=game.title%></h2>
        <div id="plateform">
          <img src="/img/plateforms/<%=game.Plateform.slug%>_logo.png" id="plateformLogo"><span><%=game.Plateform.name%></span>
        </div>
        
        <p>
          <span id="firstPrice"><%=game.price%>€</span>
          <span id="discount">-<%=game.discount%>%</span>
        </p>
        <p>
          Prix : <%=(game.price-(game.price*(game.discount/100))).toFixed(2)%>€
        </p>
        <h5><%=game.quantity > 0 ? game.quantity+" jeux restants" : "Rupture de stock !"%></h5>
        <div class="addToCart <%=game.quantity < 1 ? "disabled" : ""%>" @click="buy">
          <i class="fas fa-cart-plus"></i><span>Ajouter au panier</span>
        </div>
        <h2>
          Avis moyens : <%=nbAvis > 0 ? moyenne+"/5 ("+nbAvis+" avis)":"Aucun "+
          "avis" %>
        </h2>
      </div>
    </div>
    <div id="desc">
      <h2>Description</h2>
      <p><%=game.description%></p>
    </div>

    <%if (game.Marks.length > 0) {%>
      <div id="marks">
        <h2><%=game.Marks.length%> Avis</h2>
        <%game.Marks.forEach(avis => {%>
          <div class="mark">
            <h4><%=avis.User != null ? avis.User.username : "Ancien utilisateur"%> - 
              <%for(let i = 0; i < avis.mark; i++) {%>
                <i class="fas fa-star"></i>
              <%} for (let i = 5; i > avis.mark; i--) {%>
                <i class="far fa-star"></i>
              <%}%>  
            </h4>
            <p><%=avis.review%></p>
            <hr>
          </div>
        <%});%>
      </div>
    <%}%>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/game.js"></script>
  </body>
</html>
